AZURE_TENANT_ID=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=

SHAREPOINT_SITE_HOSTNAME=calfrac.sharepoint.com
SHAREPOINT_SITE_PATH=/sites/Supplychain2
SHAREPOINT_LIST_NAME=Williston eBay Inventory
SHAREPOINT_PHOTOS_FOLDER_PATH=General/US Supply Chain/Projects/Ebay Parts Store/eBay App Inventory Photos

PORT=4000
